/**
* Configurações gerais do Site CoreDraw
*/ 

/**
* Geral
=============================================================================*/
*{
	padding: 0;
	margin: 0;
}
body{
	font-size:12;
	line-height: 18px;
	color:#494d56;
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
}
a{
	color:#989898;
}
p{
	font-size:1em;
}
input,textarea,select{
	font-size:1px;
	line-height: 16px;
	vertical-align: top;
	color:#000;
}
select{
	font-size:12px;
}
header{
	color:white;
	background:#101010;
	z-index: 15;
}

/**
* Layouts - Id's
=============================================================================*/
#idioma{
	/*width:112px;*/
	height:20px;
	/*padding: 2px 18px 2px 3px;*/
	margin-top: 8px;
}
#navegacao li a{
	color:#fff;
	font-size:14px;
	padding:15px 25px 16px;
	line-height: 20px;
}
#navegacao li a:hover{
	color:#000;
	background:#f1f1f1;
}
#principal{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}
#brand-bar{
	list-style: none;
	text-align: center;
	margin: 0;
	overflow: hidden;
	background: #000;
	height: 57px;
}
#brand-bar .cdgs{
	width:120px;
	background: url(../img/sprite-cdgs-brands.png)no-repeat;
	/*background-position-x:0%;*/
	/*background-position-y:0%;*/
	background-position: 0 -115px;
}
#brand-bar .cdgs:hover{
	background-position: 0 -172px;
}
#brand-bar .cdts{
	width:122px;
	background:url(../img/sprite-cdgs-brands.png)no-repeat;
	background-position: 0 -343px;
}
#brand-bar .cdts:hover{
	background-position: 0 -400px;
}
#brand-bar .cad{
	width:83px;
	background:url(../img/sprite-cdgs-brands.png)no-repeat;
}
#brand-bar .cad:hover{
	background-position: 0 -57px;
}
#brand-bar .pp{
	width:200px;
	background:url(../img/sprite-cdgs-brands.png)no-repeat;
	background-position: 0 -228px;
}
#brand-bar .pp:hover{
	background-position: 0 -285px;
}
#brand-bar .prod{
	height: 50px;
	display: block;
}
#brand-bar li:first-child{
	background-image: none;
}
#brand-bar li{
	display: inline-block;
	padding: 0 24px 0 26px;
	margin-top: 0;
	background: url(../img/separator5.png)no-repeat;
	background-color: rgba(0,0,0,0);
	background-position-y:0%;
	background-position-x:0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-attachment: scroll;
	background-size: auto auto;

}
#spotlight{
	padding-top: 30px;
}
#spotlight h2{
	font-size:17px;
	line-height: 1.62em;
	color:#484b54;
	margin: 0;
}
#spotlight a{
	text-decoration: none;
}
#spotlight img{
	border:none;
	margin-bottom: 10px;
}
#spotlight p{
	font-size:14px;
	line-height: 21px;
	color:#7d828c;
}
#spotlight p span{
	color:#009cff;
	display: block;
}
#produtos{
	padding:0 25px 30px;
	margin-top: 25px;
}
#produtos .row .spoff{
	padding:0 15px;
}
#produtos .thumbnail .spoff-img{
	padding:20px 10px;
	width:90%;
}
#produtos .thumbnail .caption{
	padding:30px 10px 0 5px;
	color:inherit;
}
#produtos .thumbnail .caption h3{
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 10px;
	color:#009cff;
}
#produtos .thumbnail .caption p{
	color:#73828c;
	font-size:13px;
}
#produtos .thumbnail a{
	text-decoration: none;
}
/**
* Classes
=============================================================================*/
.action{
	font-size:13px;
	color:#989898;
	text-transform: capitalize;
	/*margin-left: 80px;*/
}
.action li{
	margin-left: 10px;
	line-height: 20px;
}
.action a:hover{
	color:white;
}
.icon{
	color:#009cff;
	font-style: normal;
	font-weight: 400;
}
.hero{
	width:100%;
	border-style:none;
}
.bg-hover{
	background:#f1f1f1;
	color:#000;
}
.thumbnail{
	padding:15px;
	display: block;
	line-height: 1.43;
	width:100%;
	border:1px solid #ddd;
}

/**
* Media Queries
=============================================================================*/